/**
    * @name Remove Activity Panel
    * @version 0.0.2
    * @description Remove Activity Panel from the right sidebar.
    * @author Hyouhyan
    *
    * @authorLink https://hyouhyan.com
    * @source https://github.com/hyouhyan/BetterDiscordThemes/tree/main/RemoveActivityPanel
    * @website https://hyouhyan.com
**/

/* Removes Active Now*/
[class*="membersGroup_"][class*="container_"]:nth-of-type(1){
   display:none!important;
}

[class*="container_"][class*="openOnHover_"]{
   display:none!important;
}

[class*="membersGroup_"][class*="container_"]:nth-of-type(1){
   display:none!important;
}


[class*="container_"][class*="openOnHover_"]{
   display:none!important;
}
